@charset "UTF-8";

@font-face {
  font-family: Title;
  src: url(fonts/Charmonman-Bold.ttf)
}
/*
@font-face {
  font-family: title2;
  src: url(fonts/FleurDeLeah-Regular.ttf)
}
*/
/*
@font-face {
  font-family: base1;
  src: url(fonts/Merriweather-Regular.ttf)
}
*/
@font-face {
  font-family: Base;
  src: url(fonts/Poppins-Regular.ttf)
}

body {font-family: Base, sans-serif}
h1, h2, .title {font-family: Title}









